Source: single-package
Section: misc
Priority: extra
Maintainer: Tester <test@test.com>
Build-Depends: debhelper (>=9), dh-exec (>=0.2)
Standards-Version: 3.9.6

Package: myprog
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: PoTa Chen's example
 PoTa Chen's example
